.l-page {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 1fr 4fr 1fr;
  height: 100vh;
  margin: 0 auto;
  max-width: 960px;
}

.m-header {
  grid-area: header;
}

.m-main {
  grid-area: main;
}

.m-footer {
  grid-area: footer;
}